<script>
	$(document).ready(function() {
	$.getJSON("https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=s101391&api_key=b2da2d6c867fffcccbce1f31f8211cca&limit=5&format=json&callback=?", function(data) {
    var html = '<h5>Last.fm recent listens:</h5>';
    var counter = 1;
    $.each(data.recenttracks.track, function(i, item) {
        if(counter <= 5) {
            html += '<span><a href="' + item.url + '" target="_blank">' + item.name + '</a> - ' + item.artist['#text'] + '</span><br />';
        }
        counter++;
    });
    $('.listening').append(html);
});
});
</script>